/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}

#container {
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
}

/* regole header */
header {
    background-color: white;
    padding: 10px;
}

h1 {
    display: inline-block;
    font-weight: 800;
}


/* regole nav  */
nav {
    padding: 10px;
    margin-left: 40px;
    border-bottom: 2px solid #f6f8f9;

}

.button-add {
    display: inline-block;
    margin-left: 5px;
    border-radius: 10px;
    padding: 5px;
    font-size: smaller;
}

.button-add.task {
    background-color: #6abdf4;
    border: 2px solid #6abdf4;

    color: white;
}

.button-add.section {
    border: 2px solid #898d91;
    color: #898d91;
}

/* regole main  */

main {
    margin-top: 40px;
}

.section-title::before {
    content: \25BC;

}

.section-list {
    padding: 10px;
    list-style-type: none;
    margin-left: 5px;
}

.section-item {
    padding: 10px;
}